<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script src="{{ base.url() }}/assets/javascript/base.js"></script>
    <script src="{{ base.url() }}/assets/javascript/{% block javascript %}{% endblock %}"></script>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel = "stylesheet" href="{{ base.url() }}/assets/css/styles.css">
    <link rel = "stylesheet" href="{{ base.url() }}/assets/css/{% block css_file %}{% endblock %}">


</head>
<body>
<header>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="/">
            <img id="iconPwBox" src="/assets/resources/logo.png" />
        </a>
        <a class="navbar-brand" href="/">PwBox</a>


        {% block header %}
        {% endblock %}

    </nav>

</header>

    {% block content %}{% endblock %}

<!--Footer-->
<footer class="footer">

    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="/"> PwBox.test </a>
    </div>

</footer>
</body>

<!-- Bootstrap core JavaScript
================================================== -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</html>
