{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block javascript %}home.js{% endblock %}
{% block css_file %}home.css{% endblock %}

{% block header %}
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav buttonsLogReg">
            <li class="nav-item menu">
                <button id="buttonLogin" type="button" class="btn1 btn-xl btn-danger" onclick="showLogin()">Login</button>
            </li>
            <li class="nav-item menu">
                <button id="buttonRegister" type="button" class="btn1 btn-xl btn-danger" onclick="showRegister()">Register</button>
            </li>
        </ul>
        {{ errors['username'] }}
    </div>
{% endblock %}

{% block content %}


    <div id = "login" style="display: {{ showlogin|raw }}" >
        <form action="/login" method="POST">
            <h1>Sign in</h1>
            <div class="form-group">
                <label class="floatLabel">Username or email:</label>
                <input type="text" id="nameEmailU" name="title" placeholder="Username or email">
                <div id="spanNameU" class="spans  {%if errors['user&mail'] is not defined%} hidden {% endif %}">
                    <span >Introduce correct username or email</span>
                </div>
                <div id="spanNameUnotExists" class="spans {%if errors['notexistent'] is not defined%} hidden {% endif %} ">
                    <span >This username or email doesn't exists</span>
                </div>
            </div>
            <div class="form-group">
                <label class="floatLabel">Password:</label>
                <input type="password" id="pswU" name="passwordLogin" placeholder="Password">
                <div id="spanPswU" class="spans {%if errors['password'] is not defined%} hidden {% endif %} ">
                    <span >Invalid password</span>
                </div>
            </div>
            <input type="submit" value="Login" onclick="controlLogin(event)">
            <div class=" createA text-center p-t-136">
                <a class="createAccount" onclick="showRegister()">
                    Create your Account
                </a>
            </div>
        </form>
    </div>

    <div id="principalPage">
        <div class="container">
            <div class="row h-100">
                <div class="col-lg-7">
                    <div class="header-content">
                        <h1 class="mb-5"> PwBox</h1>
                        <div class="container">
                            <div class="row">
                                <h4>Your best cloud service in case you got for some reason tired of Dropbox, One Drive...</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id = "register">
        <form action="/register" method="POST" enctype="multipart/form-data">
            <h1 id="reg">Register</h1>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="floatLabel">Name:</label>
                            <input type="text" id="nameR" name="name" placeholder="Your name">
                        </div>
                        <div id="spanName" class="spans {%if errors['name'] is not defined%} hidden {% endif %}">
                            <span >Enter a correct name</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="floatLabel">Username:</label>
                            <input type="text" id="username" name="username" placeholder="Create a username">
                        </div>
                        <div class="spans {%if errors['username'] is not defined%} hidden {% endif %}" id="spanUsername">
                            <span>Enter a correct USERNAME</span>
                        </div>


                    </div>

                </div>
                <div class="row">

                <div class="col">
                        <div class="form-group">
                            <label class="floatLabel">Surname:</label>
                            <input type="text" id="surname" name="surname" placeholder="Your surname">
                        </div>
                    <div class="spans {%if errors['surname'] is not defined%} hidden {% endif %}" id="spanSurname">
                        <span >Enter correct surname</span>
                    </div>
                </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="floatLabel">Email address:</label>
                            <input type="email" id="email" name="email" placeholder="Your email address">
                        </div>
                        <div class="spans {%if errors['email'] is not defined%} hidden {% endif %}" id="spanEmail" >
                            <span >Enter correct email</span>
                        </div>
                        <div class="spans {%if errors['emailExists'] is not defined%} hidden {% endif %}" id="spanEmailExists" >
                            <span >This email has been registered before</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="floatLabel">Password:</label>
                        <input type="password" id="psw" name="password" placeholder="Create a password" onfocus="focusFunction()" onblur="blurFunction()" onkeyup="validatePsw()">
                        {#<span {% if errors['psw'] not defined %}  class="hidden" {% endif %}>Enter a correct password</span>#}
                        {#  {% if form.get('errors') is not empty %}  #}
                    </div>
                    <div class="spans {%if errors['password'] is not defined%} hidden {% endif %}" id="spanPsw">
                        <span >Enter correct password</span>
                    </div>
                    <div id="message">
                        <p id="uppercase" class="invalid">A <b>uppercase</b> letter</p>
                        <p id="number" class="invalid">A <b>number</b></p>
                        <p id="lengthmin" class="invalid">Minimum <b>6 characters</b></p>
                        <p id="lengthmax" class="invalid">Maximum <b>12 characters</b></p>
                    </div>
                </div>

                <div class="col">

                        <div class="form-group">
                            <label class="floatLabel">Repeat password:</label>
                            <input type="password" id="confirmPsw" name="confirmPassword" placeholder="Repeat the password") onkeyup="correctPsw()">
                            {#<span {% if errors['email'] not defined %}  class="hidden" {% endif %}>Enter a correct password</span>#}
                            {#  {% if form.get('errors') is not empty %}  #}
                        </div>
                    <div class="spans {%if errors['notSamePassword'] is not defined%} hidden {% endif %}" id="spanCpsw">
                        <span >Enter same password</span>
                    </div>
                    <div id="message2" class="spans  {%if errors['confirmPassword'] is not defined%} hidden {% endif %}">
                        <p class="valid">Correct Password</p>
                    </div>

                    </div>

                </div>
                <div class="row">

                    <div class="col">
                        <div class="form-group">
                            <label class="floatLabel">Birth date:</label>
                            <input type="date" id="birth" name="birth" min="1900-01-01" max="2020-01-01">
                        </div>
                        <div class="spans {%if errors['birth'] is not defined%} hidden {% endif %}" id="spanBirth">
                            <span >Select birth date</span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="floatLabel">Select an image for your profile:</label>
                            <input  src="assets/resources/user.png" accept="image/*" type='file' id="image" name="image" onchange="readURL(this);" />
                        </div>
                        <p id="fp"></p>
                        <div class="spans" id="spanImage">
                            <span class="spans {%if errors['image'] is not defined%} hidden {% endif %}" id="fp"></span>
                        </div>
                    </div>

                </div>

                </div>
            <input id="buttonRegister" type="submit" value="Create My Account"  onclick="controlRegister(event)">
        </form>

    </div>
{% endblock %}